* {
  font-family: 'Roboto Mono', sans-serif;
}

body {
  margin: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

h4,
h3,
button {
  text-align: center;
}

.transition {
  transition: 0.2s;
  -moz-transition: 0.2s;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
}

.input-sidebar {
  position: absolute;
  top: 20;
  right: 0;
  background: rgba(255, 255, 255, 0.637);
  opacity: 0.6;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
  transition: opacity 500ms;
  width: 256px;
}

.input-sidebar:hover {
  background: rgba(255, 255, 255, 0.808);
  opacity: 1;
}

.input-sidebar h2 {
  text-align: center;
  margin: 0;
}

.input-sidebar h3 {
  margin-block-end: .5em;
}

.button-lst {
  margin-top: .5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: .5rem;
}

.btn {
  background: #fff;
  color: #000;
  border: none;
  padding: .5rem;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background: #eee;
  box-shadow: 0 0 10px #0002;
}

.btn:active {
  background: #f0f0f0;
  box-shadow: none;
  position: relative;
  top: 1px;
}

.delete-btn {
  background: #f00;
  color: #fff;
}

.delete-btn:hover {
  background: #e00;
}

.delete-btn:active {
  background: #f00000;
}

.slider {
  display: flex;
  display-direction: row;
}

h4.slider-label {
  margin-block-start: .5em;
  margin-block-end: .5em;
}

.slider .range-lbl {
  width: 4ex;
}

.slider input ~ .range-lbl {
  text-align: end;
}

.slider input[type=range] {
  width: 100%;
  margin: 0;
}
